<!DOCTYPE html>
<html>
<head>
  <title>NucleusDirectory</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='header'>
  <%= image_tag('/assets/images/originate_logo_small.png') %>
</div>
<div class='content'>
  <%= yield %>
</div>
</body>
</html>
